$darker-grey: #305667;
$menu-border: 1px solid #E3E3E3;

body {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Sans-Serif;
}

.left-div {
	float: left;
	width: 220px;
	height: 100%;
	background-color: #F1F1F1;
	border-right: $menu-border;
	position: relative;
}

.right-div {
	float: left;
	overflow: auto;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 40px;
	color: $darker-grey;
	text-shadow: 1px 1px $darker-grey;
}

#logo-div {
	height: 220px;
	text-align: center;
}

.logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo {
	width: 44%;
	vertical-align: middle;
}

.left-element {
    padding: 10px;
    margin: 1;
    cursor: pointer;
	font-size: 14px;

	&:hover {
		background-color: $darker-grey;
		color: white;
	}
}

.top-border {
	border-top: $menu-border;
}

.bottom-border {
	border-bottom: $menu-border;
}

#logout-div {
	position: absolute;
    bottom: 0;
    width: 100%;
}
