$darker-grey: #305667;
$menu-border: 1px solid #E3E3E3;
$spritesheet: url(assets/icons.png);

@function sprite-offset($step) {
	@return -32px * $step;
}

body {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Sans-Serif;
	text-transform: uppercase;
}

.left-div {
	float: left;
	width: 220px;
	height: 100%;
	background-color: #F1F1F1;
	border-right: $menu-border;
	position: relative;
}

.right-div {
	float: left;
	overflow: auto;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 40px;
	color: $darker-grey;
	text-shadow: 1px 1px $darker-grey;
}

#logo-div {
	height: 220px;
	text-align: center;
}

.logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo {
	width: 44%;
	vertical-align: middle;
}

.left-element {
    padding: 10px;
    margin: 1;
    cursor: pointer;
	font-size: 14px;

	&:hover {
		background-color: $darker-grey;
		color: white;

		#tidrapportering-sprite {
		    background: $spritesheet sprite-offset(2) sprite-offset(1);
		}

		#historik-sprite {
			background: $spritesheet sprite-offset(3) sprite-offset(1);
		}

		#projekt-sprite {
		    background: $spritesheet 0 sprite-offset(1);
		}

		#aktiviteter-sprite {
		    background: $spritesheet sprite-offset(1) sprite-offset(1);
		}

		#personal-sprite {
		    background: $spritesheet sprite-offset(4) sprite-offset(1);
		}

		#logout-sprite {
		    background: $spritesheet sprite-offset(5) sprite-offset(1);
		}
	}

	img {
		float:right;
	}
}

.top-border {
	border-top: $menu-border;
}

.bottom-border {
	border-bottom: $menu-border;
}

#logout-div {
	position: absolute;
    bottom: 0;
    width: 100%;
}

.sprite {
	width: 16px;
    height: 16px;
}

#tidrapportering-sprite {
	@extend .sprite;
    background: $spritesheet sprite-offset(2) 0;
}


#historik-sprite {
	@extend .sprite;
	background: $spritesheet sprite-offset(3) 0;
}

#projekt-sprite {
	@extend .sprite;
    background: $spritesheet 0 0;
}

#aktiviteter-sprite {
	@extend .sprite;
    background: $spritesheet sprite-offset(1) 0;
}

#personal-sprite {
	@extend .sprite;
    background: $spritesheet sprite-offset(4) 0;
}

#logout-sprite {
	@extend .sprite;
    background: $spritesheet sprite-offset(5) 0;
}
