.main {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Sans-Serif;
}

.left-div {
	float: left;
	width: 250px;
	height: 100%;
	background-color: #F1F1F1;
	border-right: 1px solid #E3E3E3;
	position: relative;
}

.right-div {
	float: left;
	overflow: auto;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 40px;
	color: #305667;
	text-shadow: 1px 1px #305667;
}

#image-div {
	height: 120px;
	text-align: center;
}

#logo {
	height: 80%;
}

.left-element {
    padding: 10px;
    margin: 1;
    cursor: pointer;
}

.left-element:hover {
	background-color: #305667;
	color: white;
}

.top-border {
	border-top: 1px solid #E3E3E3;
}

.bottom-border {
	border-bottom: 1px solid #E3E3E3;
}

#logout-div {
	position: absolute;
    bottom: 0;
    width: 100%;
}
